In [5]:
# Create a new list
A = 6,5,4,3,2,1,3,5,5,6,63,43434,233,23
s = 20
m = 27
p = 6042018
k = 1

In [2]:
print (A)

[6, 4, 2, 0, 1, 8, 1, 20, 28, 37, 46, 55, 100, 280, 370, 460, 550]

In [7]:
print (k)

1

In [9]:
from functools import reduce
lst =[37,46,55,64,73,82,91,100]
reduce(lambda x,y: x+y,lst)

548

In [10]:
>>> from functools import reduce
>>> def do_sum(x1, x2): return x1 + x2
>>> reduce(do_sum, [1,4,8,20])
50
>>>

50

In [15]:
>>> 
>>> def my_reduce(func, seq):
...     first = seq[0]
...     for i in seq[1:]:
...         first = func(first, i)
...     return first
... 
>>> 
>>> my_reduce(do_sum, [1,4,8,20])
>>>

33

In [14]:
>>> 
>>> def my_filter(func, seq):
...     first = seq[0]
...     for i in seq[1:]:
...         first = func(first, i)
...     return first
... 
>>> 
>>> my_filter(do_sum, [1,4,8,20])
>>>

33

In [19]:
def even_check(num):
    if num%2 ==0:
        return True

In [20]:
hst =range(20)

list(filter(even_check,hst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
my_list = ['A','C','A','D','G','I','L','D']

In [32]:
my_list

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [38]:
my_list = ['X','XX','XXX','XXXX','y','yy','yyy','yyyy','z','zz','zzz','zzzz']

In [39]:
my_list

['X', 'XX', 'XXX', 'XXXX', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [40]:
my_list = ['X','y','z','xx','yy','zz','xx','yy','zz','xxxx','yyyy','zzzz']

In [41]:
my_list

['X', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']

In [47]:
my_list= [[2],[3],[4],[3],[4],[5],[4],[5],[6]]

In [45]:
my_list

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [48]:
my_list= [[2,3,4,5],[3,4,5,6],[4,5,6,7],[5,6,7,8]]

In [49]:
my_list

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [50]:
my_list= [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [51]:
my_list

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [54]:
# Assign s as a string
s = 'shreyash is brilliant and amazing and intelligent and strong person'

In [56]:
print (s)

shreyash is brilliant and amazing and intelligent and strong person

In [62]:
s.split()

['shreyash',
 'is',
 'brilliant',
 'and',
 'amazing',
 'and',
 'intelligent',
 'and',
 'strong',
 'person']

In [63]:
print(max(['Shreyash', 'Davada', 'born', 'in','september'], key=lambda s: (len(s), s)))

september

In [65]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][1]

print(find_longest_word(["Shreyash", "Davada", "born","in","september"]))

september

In [75]:
# Python Program to find the area of triangle

a = 14
b = 16
c = 27

# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 88.03

In [10]:
>>> lis= ["Shreyash" , "Davada", "born", "in", "September", "1983", "married", "in","2010"]

>>> le = max(len(x) for x in lis)   #find out the max length      

>>> [x for x in lis if len(x) == le]  #now filter list based on that max length

['September']

In [22]:
>>> lis= ["January" , "February", "March", "April", "May", "June", "July", "August","December"]

>>> le = max(len(x) for x in lis)   #find out the max length      

>>> [x for x in lis if len(x) == le]  #now filter list based on that max length

['February', 'December']

In [16]:
# list of alphabets
alphabets = ['n', 'x', 'u', 'e', 'i', 'a', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, alphabets)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
u
e
i
a
o

In [21]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(5, "January February March April May June July August September October November December"))

['January', 'February', 'August', 'September', 'October', 'November', 'December']

In [24]:
listOfWords = ['DataScience','DataAnalytics','Python','Tableau','Integer','Jupiter']
 
listOfInts = []
 
for i in range(len(listOfWords)):
    listOfInts.append(len(listOfWords[i]))
 
print ("List of words:"+str(listOfWords))    
print ("List of wordlength:"+str(listOfInts))

List of words:['DataScience', 'DataAnalytics', 'Python', 'Tableau', 'Integer', 'Jupiter']
List of wordlength:[11, 13, 6, 7, 7, 7]

In [27]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('s'))
print(is_vowel('h'))
print(is_vowel('r'))
print(is_vowel('e'))
print(is_vowel('y'))
print(is_vowel('a'))
print(is_vowel('s'))
print(is_vowel('h'))

False
False
False
True
False
True
False
False